<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-sm-4">
        <h2> Обновление </h2>
        <ol class="breadcrumb">
            <li>
                <a href="index.html"> Главная </a>
            </li>
            <li class="active">
                <strong> Обновление информации о проектах </strong>
            </li>
        </ol>
    </div>
</div>
<div class="row">
<div class="col-lg-12">
<div class="wrapper wrapper-content animated fadeInUp">

<div class="ibox">
<div class="ibox-title">
    <h5> Все файлы с информацией о проектах </h5>

    <div class="ibox-tools" ng-controller="modalDemoCtrl">
        <a href="" ng-click="open()" class="btn btn-primary btn-xs"> Загрузить файл </a>
    </div>
</div>
<div class="ibox-content">
<div class="row m-b-sm m-t-sm">
    <div class="col-md-1">
        <button type="button" id="loading-example-btn" class="btn btn-white btn-sm"><i class="fa fa-refresh"></i> Обновить </button>
    </div>
    <div class="col-md-11">
        <div class="input-group"><input type="text" placeholder="Поиск" class="input-sm form-control"> <span class="input-group-btn">
                                        <button type="button" class="btn btn-sm btn-primary"> Поехали!</button> </span></div>
    </div>
</div>

<div class="project-list" ng-controller="ProjectsFilesListCtrl">

<table class="table table-hover">
<tbody>

<tr ng-repeat="projects in posts track by $index">
    <td class="project-status">
        <span class="label label-primary"> {{ projects.status }} </span>
    </td>
    <td class="project-title">
        <a ui-sref="project_detail"> {{ projects.name }} </a>
        <br/>
        <small>Создан {{ projects.dateCreate }}</small>
    </td>
    <td>
      Актуален на {{ projects.dateActual }}
    </td>

    <td class="project-actions">
        <a target="_self" ng-href="/uploaded/files/{{ projects.filename }}" class="btn btn-white btn-sm"><i class="fa fa-pencil"></i> Скачать </a>
        <a ng-click="delete(projects)" href="" class="btn btn-danger btn-sm"><i class="fa fa-pencil"></i> Удалить </a>
    </td>
</tr>



</tbody>
</table>
</div>
</div>
</div>
</div>
</div>
</div>
